@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("cantarell/cantarell.css");

body{
    font-family: 'Cantarell';
    background-color: #1f1f1f;
    color: #f2f2f2;
    padding: 0;
}

.maininfobox{
    display: flexbox;
    margin: auto;
    border-style: solid;
    border-color: #404040;
    border-radius: 7px;
    background-color: #242424;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    width: 80%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.maininfobox h1{
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    padding: auto;
    margin: 1.5rem;
}

.maininfobox h2{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 1.5rem;
}

.inputbox {
    display: flex;
    width: 75%;
    margin: 1rem auto;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.inputbox input {
    display: inline-block;
    margin: 0;
    background-color: #242424;
    color: #f2f2f2;
    border-color: #404040;
    text-align: center;
    width: 65%;
    height: 2rem;
    font-size: 1.25rem;
    font-family: 'Cantarell';
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-color: #404040;
    border-radius: 7px;
    outline: none;
    padding: 0;
    margin-right: .5rem;
}

.inputbox input:focus{
    border-color:cornflowerblue;
}

.inputbox img {
    display: inline-block;
    max-width: 2rem;
    max-height: 2rem;
    margin:0;
    padding: 0;
    vertical-align: center;
}

.inputbox img:hover{
    cursor: pointer;
}

.inputbox .search-button{
    display: inline-block;
    color: #f2f2f2;
    background-color: cornflowerblue;
    border: none;
    margin: 0;
    height: 2rem;
    border-radius: 7px;
    padding: auto;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    vertical-align:auto;
    margin-right: .5rem;
    width: auto;
}

.inputbox .search-button:hover{
    background-color: rgb(78, 119, 194);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    .inputbox {
        display: flex;
        width: 95%;
    }

    .maininfobox{
        display: flexbox;
        margin: auto;
        border-style: solid;
        border-color: #404040;
        border-radius: 7px;
        background-color: #242424;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        width: 95%;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    

    .maininfobox h1{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        padding: auto;
        margin: 1.5rem;
    }
    
    .maininfobox h2{
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
        padding: 0;
        margin: 1.5rem;
    }

    .inputbox input {
        display: inline-block;
        margin-right: 0;
        background-color: #242424;
        color: #f2f2f2;
        border-color: #404040;
        text-align: auto;
        width: 100%;
        height: 2rem;
        font-size: 1.25rem;
        font-family: 'Cantarell';
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        border-style: solid;
        border-color: #404040;
        border-radius: 7px;
        outline: none;
        padding: 0;
        margin: 0;
    }
    
    .inputbox input:focus{
        border-color:cornflowerblue;
    }
    
    .inputbox img {
        display: flex;
        max-width: 1.5rem;
        max-height: 1.5rem;
        margin: auto;
        padding: auto;
        margin-left: 0;
    }
    
    .inputbox img:hover{
        cursor: pointer;
    }
    
    .inputbox .search-button{
        width: 0;
        font-size: 0;
        height: 0;
        margin: 0;
        padding: .5rem;
        visibility: hidden;
    }
    
    .inputbox .search-button:hover{
        background-color: rgb(78, 119, 194);
        cursor: pointer;
    }
}

